html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
/* General */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Header */
header img{
    width: 100%;
    height: 50%;
}
.background {
    filter: brightness(50%);
}
/* Social Icons */
.social-icons {
    position: absolute;
    top: 30px;
    left: 620px;
}
.icon-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:white;
    margin: 0 5px;
}
.icon-circle i {
    margin: 10px 0;
}
/* Upper Navigation bar */
.navbar {
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: white;
    height: 90px;
    width: 1000px;
}
.navbar img {
    height: 90px;
    width: 90px;
    margin-right: 20px;
    vertical-align: middle;
}
.navbar span {
    vertical-align: middle;
    color: #ec523e;
    font-weight: 900;
    font-size: 30px;
}
.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    color: #6d6d6d;
    margin-left: 20px;
}
.navbar nav {
    margin-right: 30px;
}
.navbar .home {
    color: #ec523e;
}
.digital {
    position: absolute;
    top: 390px;
    left: 550px;
}
.digital .heading {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 34px;
}
.digital span {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 20px;
}
.top-btn {
    background-color: #ec523e;
    color: white;
    font-weight: 800;
    border: none;
    padding: 15px 15px;
    position: absolute;
    top: 520px;
    left: 650px;
}
/* Services */
.services {
    padding: 100px 0px;
}
.section-heading {
text-decoration: underline;
text-transform: uppercase;
color: hsl(0deg 0% 27%);
font-weight: 600;
font-size: 32px;
}
.section-subtxt {
color: hsl(0deg 0% 27%);
text-transform: uppercase;
font-weight: 100;
}
.col-services {
    height: 300px;
    width: 300px;
    margin: 40px 10px;
    background-color: hsl(160deg 42% 55%);
}
.plane {
    background-color: #e67f38;
}
.university {
    background-color: #3998db;
}
.beaker {
    background-color: #68cd73;
}
/* Portfolio */
.portfolio {
    padding: 50px;
}
.container i {
    font-size: 38px;
    margin: 130px 0;
    color: white;
}
.galleryimg {
    flex: 0 1 22.5%;
    margin: 1%;
    margin-top: 40px;
}
.galleryimg img {
    width: 100%;
}
.wrap {
    flex-wrap: wrap;
}
/* Team */
.team {
    padding: 50px 0;
}
.team-img {
    flex: 0 1 22.5%;
    margin-top: 50px;
}
.team-img img {
    width: 100%;
    border-radius: 50%;
}
/* Design */
.design {
    padding: 50px;
}
.design-head {
    font-style: italic;
}
.lorem {
    display: inline-block;
    margin-bottom: 40px;
}
.design-text {
    text-align: left;
    font-size: 13px;
}
/* Contact */
.contact {
    padding: 50px;
}
.contact-txt {
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
    width: 70%;
}
.box {
    display: flex;
    flex-direction: column;
}
.box p {
    display: inline-block;
}
.box1 {
    height: 30px;
    width: 280px;
    border: 2px solid black;
    text-align: left;
    margin: 5px;
    font-size: 13px;
}
.box2 {
    height: 80px;
    width: 280px;
    border: 2px solid black;
    text-align: left;
    margin: 5px;
    font-size: 13px;
}
.message {
    width: 280px;
    background-color: hsl(7deg 80% 58%);
    text-align: center;
    margin-left: 5px;
    margin-top: 8px;
    color: white;
    padding: 10px;
    box-shadow: none;
    border: none;
}
/* Footer */
.small{
    text-align: left;
    font-size: 15px;
}
.top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: hsl(7deg 80% 58%);
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
}
.top a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}
/* Gallery page (2) */
aside {
    background-color: #ec523e;
    height: 100vh;
    width: 45vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home {
    padding: 30px 30px;
}
.home img {
    vertical-align: middle;
    height: 80px ;
    width: 80px ;
}
.home span {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-left: 5px;
}
.home button {
    background-color: #ec523e;
    padding: 5px 15px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
}
.bio {
    padding: 30px 30px;
}
.bio p {
    margin: 15px 0;
}
.bio .self {
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: left;
}
.bio .text {
    text-align: left;
}
.gallery-icons {
    display: flex;
}
.gallery-icon-circle {
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 10px;
}
.gallery-icon-circle i {
    margin: 10px 0;
    color: white;
}
.gallery h1 {
    font-size: 44px;
    text-transform: capitalize;
    color: black;
    font-weight: 700;
    position: absolute;
    top: 40px;
    left: 800px;
}
.long-col {
    height: 500px;
    width: 300px;
    border:2px solid black;
}
.long-col img {
    width: 100%;
}